.ulc {
  background-color: #000;
  color: azure;
  display: flex;
  align-items: end;
  justify-content: space-around;
  position: sticky;
  box-shadow: 4%;
}
.ic {
  color: yellow;
  height: 50px;
  width: 60px;
  position: sticky;
}

.spc {
  color: white;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.spc:hover {
  color: blue;
}

.li {
  text-decoration: none;
}
.im {
  width: 100%;
  height: 650px;
  /* position: relative; */
}
.form {
  margin: 40px;
  width: 100px;
  height: 150px;
  display: block;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
}
.lable {
  display: block;
  align-items: center;
  justify-content: center;
}
.btn {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.table {
  margin: 5px;
  height: 150px;
  width: 150px;
  color: blue;
}
.fac {
  margin-left: -180px;
}
.delete {
  margin-left: -270px;
}
.div {
  padding-left: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
.card {
  margin: 20px;
  background-color: bisque;
}
